<html>
    <head>
        <title>Questions&Answers</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Questions&Answers</a></h1>
        </div>
        <div class="Questions">
                {% for post in posts %}
                <a href="questions/">{{ post.title }}</a>
                <a href="/?page={{ page }}">Далее</a>
                {% endfor %}
                <nav><ul class="pagination">
                    {% for p in paginator.page_range %}
                        {% if p.number == page.number %}
                            <li class="active">        </li>
                        {% else %}
                            <li> </li>
                        {% endif %}
                            <a href="{{ paginator.baseurl }}{{ p.number }}">{{ p.number }}</a>
                    {% endfor %}
                 </ul></nav>
        </div>
    </body>
</html>

