<html>
    <head>
        <title>Questions&Answers</title>
        <style>
            ul.pagination li {display:inline ;
            margin-right:5px}
        </style>
    </head>
    <body>
        <h1><a href="/"> Questions&Answers </a></h1>
        <div class="Questions">
            {% for post in posts %}
                <p><a href="questions/{{ post.pk }}">{{ post.title }}</a></p>
            {% endfor %}
            <nav><ul class="pagination" style="margin:5px; padding:10px" >
                {% for p in paginator.page_range %}
                    {% if p == page.number %}
                        <li class="active">{{ p }}</li>
                    {% else %}
                        <li><a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
                <a href="/?page={{ p }}">Далее</a>
            </ul></nav>
        </div>
    </body>
</html>